.main-div{
    flex-direction: row;
    display: flex;
}
.left-div{
    width: 20%;
    background-color: 	#000000;
    height: 742px;
    color: #f2f2f2;

}

.left-div ul li {
    list-style: none;
    margin: 50px 60px;
}

.left-div ul li a{
    text-decoration: none;
    color: #f2f2f2;
    font-size: 20px;
}